@media only screen and ( max-width: 1000px){

    body{
        width: 100vw;
        height: auto;
    }
    
    .bg-top{
        width: 100%;
    }
    
    .bg-bottom{
        width: 100%;
    }

    .container{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        grid-template: 1fr  / 1fr;
        transform: translateY(0);
        margin-bottom: 2em;
    }

    .caption, .rating, .people-review{
        height: fit-content;
        padding: 1rem;
        grid-column: 1;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .caption h1{
        font-size: 2rem;
        font-weight: 700;
    }
    
    .caption p{
        font-size: 15px;
        line-height: 1.6;
        margin-top: 1.4em;
        font-weight: 400;
    }

    .rating-card{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }

    .rating-card span{
        margin-top: .5em;
    }

    .reviews{
        transform: translateX(0%);
    }

    .best-tech{
        transform: translateX(0%);
    }

    .review-card{
        border-radius: 5px;
        width: 100%;
        height: auto;
        justify-content: center;
    }

    .review-card .desc{
        margin-top: 1em;
    }
}
